body {
	margin: 0 0 0 0;
	background-color: #1b1c1d;
	color: #dcddde;
	height: 99%;
}

body p {
    color: #1b1c1d;
}

body .ui.basic.modal p {
    color: #dcddde;
}

#layerContainer {
	padding: 5px;
	width: 30%;
	min-width: 250px;
	position: absolute;
	right: 0;
	top: 0;
	background: #1b1c1d;
	height: 60%;
}

#layerContainer .layerWrapper {
	position: relative;
	right: 0;
	border: 1px solid #767676;
	padding: 6px 0px 0px 0px;
	border-radius: 5px;
	min-height: 30px;
	height: 100%;
	box-sizing: border-box;
}

#historyItems {
    padding: 0.5em;
}

#historyItems canvas {
    width: 100%;
    height: auto;
}

#layerControls,
#historyPanel,
#groupsPanel,
#editPanel
{
    position: relative;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 24px);
    top: 0px;
}

#groupsPanel,
#editPanel
{
    padding: 5px;
}

#layerContainer #layerControlsMenu {
    margin-top: -6px;
}

#layerControls .layer,
.standardLayerFormat .layer,
#layerEditControls .layer
{
	border-bottom: 1px solid #e8e8e8;
	padding: 5px;
	position: relative;
}

#layerControls .layer button.visibleButton,
.standardLayerFormat .layer button.visibleButton,
#layerEditControls .layer button.visibleButton {
	position: absolute;
	right: 2px;
	top: 6px;
}

#layerControls .layer .addAdjustment,
.standardLayerFormat .layer .addAdjustment,
#layerEditControls .layer .addAdjustment 
{
    position: absolute;
    right: 190px;
    top: 6px;
}

#layerControls .parameter,
.standardLayerFormat .parameter,
#layerEditControls .parameter,
#groupsPanel .parameter
{
	height: 30px;
	position: relative;
	margin: 0 0 3px 0;
}

.metaGroupControl {
    margin: 10px 0 3px 0;
    height: 30px;
    position: relative;
}

#layerEditControls .thumb.show,
.standardLayerFormat .thumb.show
{
    padding-left: 50%;
    min-height: 200px;
}

#layerEditControls .thumb.show canvas,
.standardLayerFormat .thumb.show canvas {
    display: block;
}

#layerEditControls .thumb canvas,
.standardLayerFormat .thumb canvas {
    position: absolute;
    display: none;
    width: 48%;
    height: 75%;
    object-fit: contain;
    left: 0;
    top: 55px;
}

#layerEditControls .thumb.show .gradientDisplay canvas,
.standardLayerFormat .thumb.show .gradientDisplay canvas {
    width: 45%;
}

#layerControls .parameter .paramLabel,
#layerEditControls .parameter .paramLabel,
.standardLayerFormat .parameter .paramLabel,
#groupsPanel .parameter .paramLabel,
#layerControls .tabLabel,
#layerEditControls .tabLabel
.standardLayerFormat .tabLabel,
.metaGroupSliderLabel
{
	width: 25%;
	text-align: center;
	vertical-align: middle;
	display: block;
	position: absolute;
	left: 0;
	height: 100%;
	padding: 2px 0;
	-webkit-user-select: none;
	cursor: default;
	text-transform: capitalize;
}

#groupsPanel .ui.list .ui.list .parameter .paramLabel {
    font-size: 8pt;
    overflow: hidden;
}

#layerControls .tabMenu,
.standardLayerFormat .tabMenu,
#layerEditControls .tabMenu {
	width: 70%;
	display: inline-block;
	position: absolute;
	left: 30%;
	height: 26px;
	top: 2px;
	min-height: 0;
	min-width: 0;
    padding: 3px 5px;
}

#layerControls .parameter .paramInput,
.standardLayerFormat .parameter .paramInput,
#layerEditControls .parameter .paramInput,
#groupsPanel .parameter .paramInput,
.metaGroupControl .metaGroupInput { 
	width: 13%;
	display: inline-block;
	position: absolute;
	right: 0;
	height: 30px;
}

#layerControls .parameter .paramInput input,
#layerEditControls .parameter .paramInput input,
.standardLayerFormat .parameter .paramInput input,
#groupsPanel .parameter .paramInput input,
.metaGroupInput input {
	height: 100%;
	text-align: center;
    border-radius: 2px;
}

#layerControls .parameter .paramInput input:focus,
.standardLayerFormat .parameter .paramInput input:focus,
#layerEditControls .parameter .paramInput input:focus,
#groupsPanel .parameter .paramInput input:focus,
.metaGroupInput input:focus {
    border: 1px #ffffff solid !important;
}

#layerControls .parameter .paramSlider,
.standardLayerFormat .parameter .paramSlider,
#layerEditControls .parameter .paramSlider,
#groupsPanel .parameter .paramSlider,
.metaGroupSlider {
	width: 55%;
	display: inline-block;
	position: absolute;
	left: 29%;
	height: 10px;
	top: 10px;
}

#groupsPanel .ui.list .ui.list .parameter .paramSlider {
    width: 40%;
}

#groupsPanel .parameter .sliderOrderLabel {
    width: 13%;
    display: inline-block;
    position: absolute;
    right: 13%;
    height: 30px;
    padding: 7px 0;
}

#layerControls .parameter .paramColor,
.standardLayerFormat .parameter .paramColor,
#layerEditControls .parameter .paramColor {
	width: 70%;
	left: 30%;
	height: 26px;
	top: 2px;
	position: absolute;
	display: inline-block;
	border-radius: 5px;
}

#sliderItems .paramColor {
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    margin: 5px 0;
    border-radius: 5px;
}

#layerEditControls .parameter .checkbox,
.standardLayerFormat .parameter .checkbox,
#layerControls .parameter .checkbox {
	position: absolute;
	left: 30%;
	top: 4px;
}

.parameter .ui-slider-range,
.metaGroupSlider .ui-slider-range {
	background: #FFFFFF;
}

.parameter .ui-slider,
#maskOpacitySlider .ui-slider,
.metaGroupSlider.ui-slider
{
	background: #000000;
}

#layerControls .layer .ui.dropdown.blendModeMenu,
.standardLayerFormat .layer .ui.dropdown.blendModeMenu,
#layerEditControls .layer .ui.dropdown.blendModeMenu {
    position: absolute;
    right: 40px;
    top: 6px;
    height: 26px;
    min-height: 26px;
    padding: 0.5em;
    width: 150px;
    min-width: 80px;
}

#layerControls .layer .ui.dropdown i,
.standardLayerFormat .layer .ui.dropdown i,
#layerEditControls .layer .ui.dropdown i {
	top: 0.5em;
}

#layerEditControls .layer .gradientDisplay canvas,
.standardLayerFormat .layer .gradientDisplay canvas,
#layerControls .layer .gradientDisplay canvas {
	width: 100%;
    height: 45px;
    margin: 10px auto;
}

#layerControls .layer .curveDisplay canvas,
.standardLayerFormat .layer .curveDisplay canvas,
#layerEditControls .layer .curveDisplay canvas {
    width: 15vw;
    height: 15vw;
    margin: 10px auto;
    display: block;
}

#layerEditControls .layer .header,
.standardLayerFormat .layer .header,
#layerControls .layer .header {
    width: calc(100% - 230px);
}

#layerEditControls .layer .header,
.standardLayerFormat .layer .header {
    margin-bottom: 35px;
}

#imageContainer {
    width: 70%;
    min-width: 250px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: calc(100% - 20px);
    padding: 5px;
    border: none;
}

#imageContainer #render img,
#imageContainer #render canvas,
#diffViz canvas
{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#imageContainer #preview img,
#imageContainer #preview canvas
{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#imageContainer #mask canvas {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	cursor: crosshair;
}

#imageContainer .segment {
	border: none;
	user-select: none;
}

#imageContainer .header.item {
	-webkit-app-region: drag;
	width: 200px;
	overflow: hidden;
	max-height: 3em;
}

#stickyMessage {
    position: absolute;
    z-index: 10;
}

#stickyMessage .remove.icon {
    cursor: pointer;
}

#modeStatus {
    display: inline-block;
    font-size: 12px;
    margin-left: 1em;
}

#status {
	position: absolute;
	width: 50%;
	bottom: 10px;
	left: 25%;
	height: 75px;
	padding: 10px;
	background-color: #e8e8e8;
	border-radius: 3px;
}

.layer .divider {
	cursor: pointer;
}

#layerControls .layerSet {
    border-left: 5px solid #767676;
    position: relative;
    padding-top: 36px;
}

#layerControls .layerSet .setName {
    display: block;
    height: 36px;
    padding: 0.25em 0em;
    background-color: #767676;
    color: #dcddde;
    font-weight: 700;
    margin-bottom: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 2px;
    font-size: 12pt;
    cursor: pointer;
    border-bottom: 2px solid #dcddde;
}

#layerControls .layerSet .setName.ui.header .icon:only-child {
	margin-right: 0;
}

.layerSet .ui.icon.button {
	position: absolute;
	top: 2px;
	right: 2px;
}

#layerControls .divider {
	margin-bottom: 5px;
}

#colorPicker {
	position: absolute;
	z-index: 5000;
}

#colorPicker.visible {
	display: block;
}

#colorPicker.hidden {
	display: none;
}

#messageQueue {
	position: absolute;
	width: 50%;
	bottom: 10px;
	left: 25%;
    z-index: 1000;
}

#imageContainer .segment {
	height: calc(100% - 50px);
}

#sampleContainer {
	width: 70%;
	min-width: 250px;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	padding: 5px;
}

#sampleContainer #samples #sampleWrapper,
#sampleContainer #samples #sideboardWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 2px);
    display: flex;
    margin-top: 0;
}

#sampleContainer .segment {
	height: calc(100% - 45px);
	padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
	margin-top: 0;
}

#sampleContainer .ui.circular.label {
    z-index: 5;
}

#mapViz {
    overflow: hidden;
    height: calc(100% - 26px);
}

#mapViz canvas {
    width: 100%;
    height: auto;
}

#mapVizPopup {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid #FFFFFF;
}

#sampleControls {
	width: 30%;
	height: 40%;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

#sampleControls .segment {
	height: calc(100% - 31px);
    margin-top: 0;
    overflow: auto;
}

#sampleControls #searchSettings {
    height: calc(100% - 80px);
    padding-bottom: 5px;
}

#renderQueueTab, #debugConstraintTab {
    height: 100%;
    overflow-y: auto;
}

#sampleControls #searchSettings .list {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    padding-right: 10px;
}

#sampleContainer .card {
    background-color: #1b1c1d;
    margin: 10px;
}

#sampleContainer.noIds .sampleId {
	display: none;
}

#sampleContainer .button.settings {
    position: absolute;
    right: 4px;
    top: 22px;
    z-index: 100;
}

#sampleContainer #sampleSettingsPopup {
	width: 300px;
    max-width: 400px;
}

#sampleContainer #sampleSettingsPopup .column {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#sampleContainer #sampleSettingsPopup .row {
    padding: 0;
}

#sampleContainer .sample .dimmable.image {
	overflow: visible;
}

.inverted.attached.label {
	background-color: #767676;
}

#imageContainer #mask-tools {
    position: absolute;
    top: 40px;
    width: auto;
    height: 182px;
    left: 10px;
    z-index: 500;
    border: 1px solid #767676;
    border-radius: 6px;
}

#imageContainer #mask-tools {
    padding: 2px;
}

#imageContainer #mask-tools .label {
    padding: 7px;
}

#imageContainer #mask-tools .divider {
    margin: 5px 0;
}

.clearBoth {
    clear: both;
}

#imgStatusBar {
    display: block;
    width: calc(100% - 10px);
    height: 35px;
    background-color: #767676;
    border-radius: 6px;
    font-size: 12pt;
    padding: 3px 10px;
    color: #FFFFFF;
    position: absolute;
    bottom: -15px;
    z-index: 20;
}

#imgStatusBar .right.floated.buttons {
    margin-left: 5px;
}

#maskOpacitySlider {
    width: 200px;
    position: absolute;
    display: block;
    right: 175px;
    top: 5px;
}

#maskOpacitySlider .slider {
    width: 120px;
    float: right;
    margin-top: 5px;
}

#debugConstraintTab .grid {
    width: 100%;
}

div#sampleWrapper .ribbon.label {
    display: none;
}

div#sampleWrapper .ribbon.label.visible {
    display: block;
}

div#sampleWrapper.score .ribbon.label[metadata-key="score"] {
    display: block;
}

div#sampleWrapper.filename .ribbon.label[metadata-key="filename"] {
    display: block;
}

#newEditModal .primary {
    color: #1b1c1d;
}

#newEditModal .secondary {
    color: #1b1c1d;
    margin-top: 10px;
}

#setConstraintLayerColor {
    border: 1px solid black;
}

#sliderItems .ui.item .ui.list {
}

#sliderItems .ui.item .divider {
    cursor: pointer;
}

#sliderItems .layerSelector .header {
    font-size: 20pt;
    margin-bottom: 10px;
}

#sliderItems .ui.item .content .dropdown {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
}

#sliderItems .layerSelector {
    margin: 10px;
}

#sliderItems .layerSelector .selectedLabel {
    padding: 10px 0;
}

#mainView.full,
#sideView.full {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mainView.half,
#sideView.half {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

#mainView.half {
    left: 0;
}

#sideView.half {
    right: 0;
}

#mainView.hidden,
#sideView.hidden {
    width: 0;
    height: 0;
    display: none;
    position: absolute;
}

.depricated {
    display:none;
}

.scoreLabel {
    position: absolute;
    top: 30px;
}

/* Layer select popup window */
#layerSelectPopup {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5000;
    width: 300px;
    max-height: 400px;
}

#layerSelectPopup canvas {
    width: 100%;
    height: auto;
}

#layerSelectPopup .closeButton {
    position: absolute;
    right: 0px;
    top: -26px;
}

#layerSelectPopup .grid {
    margin-top: 16px;
    height: 350px;
    overflow-y: scroll;
}

/* tagging popup window, goal popup window */
#filterMenu,
#goalMenu
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 300px;
}

#filterMenu .dropdown,
#primaryGoalSelect
{
    margin-top: 26px;
}

#filterMenu .closeButton,
#goalMenu .closeButton
{
    position: absolute;
    right: 0px;
    top: -26px;
}

#goalStatus {
    display: block;
    width: 50%;
    position: absolute;
    right: 10px;
    text-align: right;
    font-size: 10pt;
    height: 24px;
    top: 6px;
}

#goalStatus .goalColor {
    width: 40px;
    height: 1.2em;
    display: inline-block;
    border-radius: 5px;
}

/* parameter layer select panel */
.parameterSelectPanel,
.groupPanel {
    padding: 10px;
    height: calc(100% - 25px);
    overflow-y: auto;
    overflow-x: hidden;
} 

.parameterSelectPanel .card canvas,
.groupPanel .card canvas {
    width: 100%;
    height: auto;
}

.parameterSelectPanel .card,
.groupPanel .card {
    margin: 0 auto;
}

.groupSelectCheckbox {
    float: right;
}

.parameterSelectPanel .optionsButton,
.groupPanel .optionsButton {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 26px;
}

.parameterSelectPanel .addGroupButton {
    position: absolute;
    top: 2px;
    right: 36px;
    height: 26px;
}

.parameterSelectPanel .removeFromGroupButton {
    position: absolute;
    top: 2px;
    right: 70px;
    height: 26px;    
}

.parameterSelectPanel .addToGroupButton {
    position: absolute;
    top: 2px;
    right: 104px;
    height: 26px;
}

.parameterSelectLayerPanel,
.parameterSelectOptions,
.groupPanelLayerControls,
.groupSelectOptions {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    top: 30px;
    left: 0;
    overflow: auto;
    background-color: #1b1c1d;
    padding-top: 32px;
}

.parameterSelectLayerPanel,
.groupPanelLayerControls {
    z-index: 500;
}

.parameterSelectOptions,
.groupSelectOptions {
    padding-left: 5px;
    padding-right: 5px;
    z-index: 600;
}

.parameterSelectPanel .card:hover {
    cursor: pointer;
}

.parameterSelectLayerPanel .label,
.groupPanelLayerControls .label {
    text-align: center;
}

.parameterSelectLayerPanel .backButton,
.groupPanelLayerControls .backButton {
    position: absolute;
    top: -26px;
    left: 2px;
}

.parameterSelectOptions .backButton,
.groupSelectOptions .backButton {
    position: absolute;
    top: -26px;
    right: 2px;
}

.groupControls {
    margin-bottom: 10px;
}

.groupPanel .groupSelectDropdown .selection.dropdown {
    width: calc(100% - 170px);
}

.layer button.showGroupButton {
    position: absolute;
    top: 6px;
    right: 225px;
}

.layer button.deleteGroupButton {
    position: absolute;
    top: 6px;
    right: 225px;
}

.secondaryGroupPanel .groupButtons {
    float: right;
}

.activeArea {
    cursor: pointer;
}

.groupControls .layer h3.header:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffbb00!important;
}