body {
	margin: 0 0 0 0;
	background-color: #1b1c1d;
	color: #dcddde;
	height: 99%;
}

#layerContainer {
	padding: 5px;
	width: 30%;
	min-width: 250px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 600px;
	background: #1b1c1d;
	height: 100%;
}

#layerContainer .layerWrapper {
	position: relative;
	right: 0;
	border: 1px solid #e8e8e8;
	padding: 6px 0px 0px 0px;
	border-radius: 5px;
	min-height: 30px;
	height: 100%;
	box-sizing: border-box;
}

#layerControls {
	position: relative;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 36px);
}

#layerControls .layer {
	border-bottom: 1px solid #e8e8e8;
	padding: 5px;
	position: relative;
}

#layerControls .layer button.visibleButton {
	position: absolute;
	right: 2px;
	top: 6px;
}

#layerControls .parameter {
	height: 30px;
	position: relative;
	margin: 0 0 3px 0;
}

#layerControls .parameter .paramLabel {
	width: 25%;
	text-align: center;
	vertical-align: middle;
	display: block;
	position: absolute;
	left: 0;
	height: 100%;
	padding: 2px 0;
	-webkit-user-select: none;
	cursor: default;
	text-transform: capitalize;
}

#layerControls .parameter .paramInput {
	width: 13%;
	display: inline-block;
	position: absolute;
	right: 0;
	height: 30px;
}

#layerControls .parameter .paramInput input {
	height: 100%;
	text-align: center;
}

#layerControls .parameter .paramSlider {
	width: 55%;
	display: inline-block;
	position: absolute;
	left: 29%;
	height: 10px;
	top: 10px;
}

#layerControls .parameter .ui-slider-range {
	background: #FFFFFF;
}

#layerControls .parameter .ui-slider {
	background: #000000;
}

#layerControls .layer .ui.dropdown {
    position: absolute;
    right: 40px;
    top: 6px;
    height: 26px;
    min-height: 26px;
    padding: 0.5em;
    width: 150px;
    min-width: 80px;
}

#layerControls .layer .ui.dropdown .menu {
	max-height: 8em;
}

#layerControls .layer .ui.dropdown i {
	top: 0.5em;
}

#layerControls .layer canvas {
	width: 100%;
    height: 45px;
    margin: 10px auto;
}

#imageContainer {
	width: 70%;
	min-width: 250px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	height: 60%;
	padding: 5px;
	border: none;
}

#imageContainer img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
}

#imageContainer .segment {
	border: none;
}

#imageContainer .header.item {
	-webkit-app-region: drag;
	width: 200px;
	overflow: hidden;
	max-height: 3em;
}

#status {
	position: absolute;
	width: 50%;
	bottom: 10px;
	left: 25%;
	height: 75px;
	padding: 10px;
	background-color: #cdcdcd;
	border-radius: 3px;
}

.layer .divider {
	cursor: pointer;
}

#layerControls .layerSet {
    border-left: 4px solid #e8e8e8;
    position: relative;
    padding-top: 36px;
}

#layerControls .layerSet .setName {
    display: block;
    height: 36px;
    padding: 0.25em 0em;
    background-color: #e8e8e8;
    color: rgba(0,0,0,.6);
    font-weight: 700;
    margin-bottom: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 2px;
    font-size: 12pt;
    cursor: pointer;
    border-bottom: 2px solid #1b1c1d;
}

#layerControls .layerSet .setName.ui.header .icon:only-child {
	margin-right: 0;
}

.layerSet .ui.icon.button {
	position: absolute;
	top: 2px;
	right: 2px;
}